Package: auto-management
Version: 1.1.3
Architecture: all
Depends: bash, wget
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Scripts
Description: some default stuff on new machines  
