name: 'Publish Auto Management'

on:
  push:
    branches: main
    paths:
      - 'auto_management/**'
      
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.38.2
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.ACTIONS_GITHUB_TOKEN }}"]'
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
      - uses: actions/checkout@v6
      - run: echo "::set-output name=version::$(cat ./auto_management/DEBIAN/control | grep 'Version' | awk -F\  '{print $2}')"
        id: version
      - run: sudo apt-get install devscripts debhelper
      - run: dpkg-deb --root-owner-group --build ./auto_management/
      - uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.version.outputs.version }}
          release_name: Release Auto Management v${{ steps.version.outputs.version }}
          draft: false
          prerelease: false
      - uses: actions/upload-release-asset@v1
        id: upload-release-asset 
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: auto_management.deb
          asset_name: auto_management_${{ steps.version.outputs.version }}.deb
          asset_content_type: application/octet-stream
    permissions:
      actions: read
